<% provide(:title, 'Home')%>
<% provide(:pTitle, 'ŻÓŁTY KLASER')%>

<div class="center hero-unit">
  <h1>Zaloguj się !</h1>

  <h2>
    strona domowa aplikacji zamówień
  </h2>

  <%= link_to "Logowanie", signup_path, class: "btn btn-large btn-primary" %>
</div>
