<% provide(:title, 'Home')%>
<% provide(:pTitle, 'ŻÓŁTY KLASER')%>

<div class="center hero-unit">
  <h1>Witamy w Klaserze !</h1>

  <h2>
    strona domowa aplikacji zamówień
  </h2>

  <%= link_to "Rejestracja!", '#', class: "btn btn-large btn-primary" %>
</div>
