<li>
  <%= link_to client.full_name, client %>
  <p align = "right"><%= link_to "edit", edit_client_path(client)%>  | <%= link_to "delete", client, method: :delete,
                                  data: { confirm: "You sure?" } %>
  </p>
</li>

