<h1>Lista klientów: </h1>
<br>
<%= link_to "dodaj", new_client_path, class: "btn btn-large btn-primary"%>
<br>
<%= will_paginate %>
  <ul class="users">
    <%= render @clients%>
  </ul>
<%= will_paginate %>

