<footer class="footer">
  <small>
    Page designed by Maciej Kocyła
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      </ul>
  </nav>
</footer>
